<div class="loading">
    <mat-progress-bar mode="indeterminate" *ngIf="fetchingData"></mat-progress-bar>
</div>

<mat-tab-group clas="content"  mat-align-tabs="left" preserveContent="true" (selectedIndexChange)="onTabChanged($event)">
    <mat-tab id="tab-group" label="Annotators Statistics">
        <div class="container">
            <app-annotator-list class="sidenav" [annotators]="annotators"
                (annotatorChanged)="onAnnotatorChanged($event)"></app-annotator-list>
            <app-annotator-statistics class="sidenav-content" [annotator]="selectedAnnotator">
            </app-annotator-statistics>
        </div>
    </mat-tab>

    <mat-tab label="Subsets Statistics">
        <div class="container">
            <app-subset-list class="sidenav"></app-subset-list>
            <app-subset-statistics class="sidenav-content"></app-subset-statistics>
        </div>
    </mat-tab>
</mat-tab-group>