.loading {
  width: 100%;
}

.container {
  width: 100%;
  background-color: white;
  display: flex;
  padding-top: 1rem;
}

.avatar-container {
  width: 15%;
  margin: 0.5rem
}

img {
  width: 70%;
  object-fit: contain;
  top: 0px;
  left: 0px;
}

.form-container {
  width: 70%;
  margin: 0.5rem
}

.input-container {
  width: 100%;
}

.title {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input {
  width: 100%;
  font-size: medium;
}

input:disabled {
  color: black;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: blueviolet;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  background-color: gainsboro;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin: 0.5rem;
  font-size: medium;
}