<div class="container">
	<div class="avatar-container">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREv0R1in9Ia9pA-D7UxlHlCswimbkaIymVqQ&usqp=CAU" 
				alt="annotator-avatar" />
	</div>
	<div class="form-container">

		<div class="field">
			<div class="title">
				<div>Username:</div>
			</div>
			<div class="content">
				<div class="input">{{information.username}}</div>
				<div class="icon" (click)="isUpdatingInformation=true">
					<mat-icon>edit</mat-icon>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="title">
				<div>First Name:</div>
			</div>
			<div class="content">
				<div class="input">{{information.firstname}}</div>
				<div class="icon" (click)="isUpdatingInformation=true">
					<mat-icon>edit</mat-icon>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="title">
				<div>Last Name:</div>
			</div>
			<div class="content">
				<div class="input">{{information.lastname}}</div>
				<div class="icon" (click)="isUpdatingInformation=true">
					<mat-icon>edit</mat-icon>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="title">
				<div>Password:</div>
			</div>
			<div class="content">
				<div class="input">************</div>
				<div class="icon" (click)="isUpdatingInformation=true">
					<mat-icon>edit</mat-icon>
				</div>
			</div>
		</div>

	</div>
</div>

<app-update *ngIf="isUpdatingInformation" [information]="information" 
			(closedForm)="isUpdatingInformation=false" (updatedInformation)="onUpdatedInformation($event)">

</app-update>