<table mat-table *ngIf="userSubsetInterfaces" [dataSource]="userSubsetInterfaces">

    <ng-container matColumnDef="subsetId">
        <th class="header checkbox" mat-header-cell *matHeaderCellDef>Subset ID</th>
        <td class="cell checkbox" mat-cell *matCellDef="let userSubsetInterface"> #{{userSubsetInterface.subsetId}}
        </td>
    </ng-container>

    <ng-container matColumnDef="assigned">
        <th class="header checkbox" mat-header-cell *matHeaderCellDef>Assigned</th>
        <td class="cell checkbox" mat-cell *matCellDef="let userSubsetInterface">
            <mat-checkbox [checked]="userSubsetInterface.assigned" ></mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="assignDate">
        <th class="header date" mat-header-cell *matHeaderCellDef>Assigned Date</th>
        <td class="cell date" mat-cell *matCellDef="let userSubsetInterface">
            <mat-form-field appearance="outline">
                <mat-label>Assignment date</mat-label>
                <input matInput [matDatepicker]="picker" [value]="userSubsetInterface.assignDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="finishDate">
        <th class="header date" mat-header-cell *matHeaderCellDef>Finish Date</th>
        <td class="cell date" mat-cell *matCellDef="let userSubsetInterface">
            <mat-form-field appearance="outline">
                <mat-label>Finish date</mat-label>
                <input matInput [matDatepicker]="picker" [value]="userSubsetInterface.finishDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="isValidation">
        <th class="header checkbox" mat-header-cell *matHeaderCellDef>Used to validation</th>
        <td class="cell checkbox" mat-cell *matCellDef="let userSubsetInterface">
            <mat-checkbox [checked]="userSubsetInterface.isValidation" ></mat-checkbox>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

</table>