<div class="loading-container" *ngIf="processingAnnotator">
    <mat-progress-spinner class="loading" mode="indeterminate" ></mat-progress-spinner>
</div>

<div class="container" *ngIf="!processingAnnotator">
    <app-annotators-list (editEvent)="onEditAnnotator($event)" (deleteEvent)="deleteAnntotator($event)" 
                            [annotators]="annotators"></app-annotators-list>
    <button class="add-button" mat-fab color="primary" (click)="onAddAnnotator()">
        <mat-icon>add</mat-icon>
    </button>
    <app-annotators-form *ngIf="formOpenned" (formOpenned)="closeForm($event)" [title]="processType" [buttonValue]="buttonType" 
            [annotator]="tmpAnnotator" (updatedStatus)="fetchAnnotators()" ></app-annotators-form>
</div>