.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.subset-item-container {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-size: medium;
    font-weight: 400;
}

button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.subset-item-container:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.subset-item-container mat-icon {
    margin-left: 1rem;
    margin-right: 0.5rem;
}