<div class="annotation-container">

  <mat-form-field class="annotation" appearance="outline">
    <mat-label>Question</mat-label>
    <input matInput placeholder="question" [value]="annotation.question" />
    <mat-icon matPrefix>help</mat-icon>
  </mat-form-field>

  <mat-form-field class="annotation" appearance="outline">
    <mat-label>Answer</mat-label>
    <input matInput placeholder="answer" [value]="annotation.answer" />
    <mat-icon matPrefix>question_answer</mat-icon>
  </mat-form-field>

  <div class="type">
    <div class="checkbox">
      <mat-checkbox [checked]="annotation.textQA" [color]="'primary'">Text QA</mat-checkbox>
      <mat-checkbox [checked]="annotation.stateQA" [color]="'primary'">State QA
      </mat-checkbox>
      <mat-checkbox [checked]="annotation.actionQA" [color]="'primary'">Action QA
      </mat-checkbox>
    </div>
    <div class="selection">
      <div class="type-selection">
        <mat-form-field appearance="outline">
          <mat-label>Question's type</mat-label>
          <mat-select>
            <mat-option *ngFor="let questionType of questionTypes" [value]="questionType.id">
              {{questionType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="type-selection">
        <mat-form-field appearance="outline">
          <mat-label>Answer's type</mat-label>
          <mat-select>
            <mat-option *ngFor="let answerType of answerTypes" [value]="answerType.id">
              {{answerType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

</div>