<h1 mat-dialog-title>{{ data ? "Edit Annotator" : "Add New Annotator" }}</h1>
<div mat-dialog-content>
  <app-annotators-from #userForm [userData]="data"></app-annotators-from>
</div>
<div mat-dialog-actions align="end">
  <button mat-button type="button" color="warn" mat-dialog-close>Cancel</button>
  <button
    [disabled]="userForm.userForm.invalid"
    mat-button
    type="button"
    color="primary"
    (click)="save(userForm.getFormData)"
  >
    {{ data ? "Update" : "Create" }}
  </button>
</div>
