mat-toolbar {
  height: 7%;
}

mat-sidenav-container {
  height: 93%;
}

mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

.mat-sidenav {
  width: 13%;
  /* position: sticky; */
}

button.menu-button {
  color: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}