<div class="container">
    <div class="background"></div>
    
    <mat-card class="form">
      <mat-card-title>Update Information</mat-card-title>
      <mat-card-content>  
        <form class="input-container" [formGroup]="informationForm">

          <mat-form-field class="input" appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username">
          </mat-form-field>
  
          <mat-form-field class="input" appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="firstname">
          </mat-form-field>
  
          <mat-form-field class="input" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="lastname">
          </mat-form-field>

          <mat-form-field class="input" appearance="outline">
            <mat-label>New Password</mat-label>
            <input type="text" matInput formControlName="password">
          </mat-form-field>

        </form>
        <div class="button-container">
          <div class="button">
            <button mat-flat-button color="primary" (click)="updateInformation()">Update</button>
          </div>
          <div class="button">
            <button mat-flat-button color="primary" (click)="updateInformation()">Cancel</button>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="updateInformation"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>